@media (max-width: 1224px){
    .about-contant {
        display: flex;
        justify-content: center;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 200px;
        right: 10px;


    }
    .my-img{
    
        position: absolute;
        
        max-width: 450px;
        width: 100%;
        height: 450px;
        object-fit: contain;
        margin-left: 10px;
        top: 400px;
        
    }
    .my-socials{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-left: 100px;
    }
    
    .Satisfied{
        position: absolute;
        top: 800px;
        right: 80px;
        font-size: 24px;
        line-height: 32px;
        color: #212121;
    }
    .more-information-about-me{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        

    }
    .main-pic{
        display: none;
    }
    .skills_socials{
        margin-top: 20px;
    }
    .submit{
        margin-top: 30px;
    }
    .progress{
        width: 300px;
        height: 10px;
        background-color: #F0F0F0;
        margin-top: 100px;
        border-radius: 6px;
        margin-left: 20px;
    }
    .contacts{
        display: flex;
        
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .srvices {
        display: flex;
        height: auto;
        justify-content: center;
        align-items: center;

    }
    .addserv{
        display: flex;
    }
   
    
    .recomendations-cont{
        width: 100%;
        height: auto;
        display: flex;
        justify-content:center;
    }
    .about-person{
        display: none;
    }
    .about-recomendatins p{
        display: none;
    }
    .lastest-projects-header h2{
        font-size: 30px;
        font-family: 'Joan';
        
    }
    /* .main-projects{
        display: flex;
        flex-direction: column;
        justify-content: center;
    } */
    .main-projects .aside-box{
        background-color: #212121;
        margin-left: 20px;
        margin-bottom: 10px;
    }
    
    .projects-three{
        display: flex;
        flex-direction: column;
    }
    .latest-projects{
        display: flex;
        justify-content: center;
    }
    .articles-title h3{
        font-size: 30px;
    }
    .article-content p{
        display: none;
    }
    .one-block h3{
        font-size: 20px;

    }
    .rosa-section{
        display: flex;
        flex-wrap: wrap;
    }
    .rosa-content{
        display: flex;
        justify-content: center;
    }
    .three-form{
        display: flex;
        flex-direction: column;
        
        justify-content: center;
    }
    .form-title{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    textarea{
        width: auto;
        height: 110px;
        padding: 30px;
        outline: none;
    }
    .footer-conten{
        width: 100%;
        height: 100px;
        
    }
    .footer-content p{
        display: none;

    }
   
    
   

    



}

@media (max-width: 768px){
    .about-contant {
        display: flex;
        justify-content: center;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 300px;
        right: 10px;


    }
    .my-socials{
        display: none;
    }
    .about-contant h4, .my-name{
        font-size: 20px;
        font-family: 'Roboto Mono';
    }

    /* .my-socials{
        display: flex;
        justify-content: center;
        margin-top: 50px;
    } */
    .sliders-cont{
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }
    .my-img{
        display: flex;
        justify-content: center;
        width: 250px;
        height: 300px;
        object-fit: contain;
        margin-top: 100px;
        margin-left: 70px;
        
    }
    .Satisfied{
        position: absolute;
        top: 800px;
        right: 80px;
        font-size: 24px;
        line-height: 32px;
        color: #212121;
    }
    .more-information-about-me{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
   
    .my-prof{
        display: flex;
        flex-direction: column;
        
    }
    .person{
        margin-left: -50px;
    }
   
    .main-pic{
        display: none;
    }
    .progress{
        width: 300px;
        height: 10px;
        background-color: #F0F0F0;
        margin-top: 100px;
        border-radius: 6px;
    }
    .contacts{
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .services_container{
        display: flex;
        flex-wrap: wrap;
        height: auto;
        width: auto;
        
    }
    .srvices {
        display: flex;
    }
    .not-main{
        display: none;
    }
    .recomendations-cont{
        width: 100%;
        height: auto;
        display: flex;
        justify-content:center;
    }
    .about-person{
        display: none;
    }
    .about-recomendatins p{
        display: none;
    }
    .lastest-projects-header h2{
        font-size: 30px;
        font-family: 'Joan';
        
    }
    .main-projects{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .main-projects .aside-box{
        background-color: #212121;
        margin-left: 20px;
        margin-bottom: 10px;
    }
    .projects-three{
        display: flex;
        flex-direction: column;
    }
    .latest-projects{
        display: flex;
        justify-content: center;
    }
    .articles-title h3{
        font-size: 30px;
    }
    .article-content p{
        display: none;
    }
    .one-block h3{
        font-size: 20px;

    }
    .rosa-section{
        display: flex;
        flex-wrap: wrap;
    }
    .rosa-content{
        display: flex;
        justify-content: center;
    }
    .three-form{
        display: flex;
        flex-direction: column;
        
        justify-content: center;
        flex-wrap: wrap;
    }
    .form-title{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    textarea{
        width: auto;
        height: 110px;
        padding: 30px;
        outline: none;
    }
    .footer-conten{
        width: 100%;
        height: 100px;
        
    }
    .footer-content p{
        display: none;

    }
   

}

@media (max-width: 480px){
    .about-contant {
        display: flex;
        justify-content: center;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 300px;
        right: 10px;


    }
    .my-socials{
        display: none;
    }
    .about-contant h4, .my-name{
        font-size: 20px;
        font-family: 'Roboto Mono';
    }

    /* .my-socials{
        display: flex;
        justify-content: center;
        margin-top: 50px;
    } */
    .sliders-cont{
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }
    .my-img{
        display: flex;
        justify-content: center;
        width: 250px;
        height: 300px;
        object-fit: contain;
        margin-top: 100px;
        margin-left: 70px;
        
    }
    .Satisfied{
        position: absolute;
        top: 800px;
        right: 80px;
        font-size: 24px;
        line-height: 32px;
        color: #212121;
    }
    .more-information-about-me{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
    .main-pic{
        display: none;
    }
    .progress{
       width: 300px;
        
        height: 10px;
        background-color: #F0F0F0;
        margin-top: 100px;
        border-radius: 6px;
    }
    .phone-container{
        display: flex;
        justify-content: start;
    }
    .phone-cont{
        display: flex;
        justify-content: start;

    }
    .addres_cont{
        display: flex;
        justify-content: start;

    }
    .contacts{
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .services_container{
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;

    }
    
    .recomendations-cont{
        width: 100%;
        height: auto;
        display: flex;
        justify-content:center;
    }
    .about-person{
        display: none;
    }
    .about-recomendatins p{
        display: none;
    }
    .lastest-projects-header h2{
        font-size: 30px;
        font-family: 'Joan';
        
    }
    .main-projects{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .main-projects .aside-box{
        background-color: #212121;
        margin-left: 20px;
        margin-bottom: 10px;
    }
    .aside-box{
        display: flex;
        justify-content: baseline;
        width: 260px;
        height: 300px;
        background-color: #15263E;
        margin-right: 30px;
    }
    .project-title{
        font-size: 20px;
        line-height: 20px;
        color: #FFFFFF;
        text-align: left;
        margin-top: 15px;
        margin-left: 40px;
        cursor: pointer;
        font-family: 'Poppins';
    }
    .project-title:hover{
        color: #f3768d;
        transition: all .5s;
    }
    .projects-three{
        display: flex;
        flex-direction: column;
    }
    .latest-projects{
        display: flex;
        justify-content: center;
    }
    .articles-title h3{
        font-size: 30px;
    }
    .article-content p{
        display: none;
    }
    .one-block h3{
        font-size: 20px;

    }
    .rosa-section{
        display: flex;
        flex-wrap: wrap;
    }
    .rosa-content{
        display: flex;
        justify-content: center;
    }
    .three-form{
        display: flex;
        flex-direction: column;
        
        justify-content: center;
    }
    .form-title{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    textarea{
        width: auto;
        height: 110px;
        padding: 30px;
        outline: none;
    }
    .footer-conten{
        width: 100%;
        height: 100px;
        
    }
    .footer-content p{
        display: none;

    }
    

    
   

}