*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container{
    position: relative;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    
    background-color: #FAFAFA;
}
/* first-page */
.about-myself{
    position: relative;
    max-width: 1600px;
    width: 100%;
    height: 900px;
    background-color: #DDDDDD;
}
.titles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 52px;

}

.roca-title{
    font-size: 40px;
    line-height: 55px;
    color: #1A1A1A;
    letter-spacing: 1.2px;
    font-family: 'Joan';
}

.dot{
    font-size: 33px;
    line-height: 55px;
    color: #0081FF;
}
.resume{
    font-size: 13px;
    line-height: 55px;
    color: #B3B3B3;
    font-family: 'Joan';
    margin-top: -35px;
   
}

.roca{
    display: flex;
    flex-direction: column;
}


.about-me-and-01{
    position: absolute;
    font-size: 43px;
    line-height: 52px;
    color: #373737;
    letter-spacing: 1.3px;
    top: 160px;
    right: 30px;
    
}

.number{
    position: relative;
    font-size: 130px;
    line-height: 331px;
    letter-spacing: 4.75px;
    color: #1C1C1C;
}


/* myphoto-content */
.main-slaider{
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.sliders-cont {
    display: none;
    opacity: 0;
    transition: opacity 0.5s;
}

.sliders-cont.active {
    display: block;
    visibility: visible;
    opacity: 1;
}
.sliders-cont.animating {
    display: block;
    visibility: hidden;
    opacity: 0;
}

.my-img{
    
    position: absolute;
    
    max-width: 450px;
    width: 100%;
    height: 450px;
    object-fit: contain;
    margin-left: 170px;
    
    top: 260px;
    
}
.about-contant{
    display: flex;
    justify-content: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 280px;
    right: 150px;

}
.i-am{
    font-size: 44px;
    line-height: 78px;
    color: #212121;
    letter-spacing: 0.75px;
    font-family: 'Roboto Mono';
}
.my-name{
    font-size: 60px;
    line-height: 78px;
    color: #212121;
    letter-spacing: 1.06px; 
}
.about-contant span{
    font-size: 23px;
    line-height: 64px;
    color: #212121;
    font-family: 'Joan';
}
.Satisfied{
    position: absolute;
    top: 600px;
    right: 90px;
    font-size: 24px;
    line-height: 32px;
    color: #212121;
}

.dif-col{
    color: #E93656;
    margin-right: 10px;
}
.underline{
    width: 300px;
    height: 6px;
    background-color: #E93656;
    border-radius: 5px;
    margin-top: 10px;
}
.my-socials img{
    width: 30px;
    margin-right: 20px;
    margin-top: 20px;

}
/* ................. */
.more-information-about-me{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 150px;
    margin-top: -200px;
    align-items: center;

}
.main-pic{
    width: 400px;
    margin-left: 50px;
    margin-right: 50px;
}

.my-prof{
    margin-top: 70px;
    text-align: right;
}

.my-prof h2{
    font-size: 33px;
    line-height: 96px;
    color: #222222;
    margin-bottom: -50px;
    font-family: 'Roboto Mono';
}



.my-prof p{
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0.45px;
    color: #555555;
    margin-bottom: 60px;
    width: 300px;
    font-family: 'Roboto Mono';
}
.my-prof h4{
    font-size: 14px;
    line-height: 96px;
    color: #DAAE19;
}
.my-prof button{
    font-size: 15px;
    line-height: 29px;
    color: #FFFFFF;
    background-color: #E93656;
    padding: 12px 55px;
    border: none;
    cursor: pointer;
}

.my-prof button:hover{
    background-color: #e7657d;
}
/* skills_container */
.progress{
    width: 300px;
    height: 10px;
    background-color: #F0F0F0;
    margin-top: 100px;
    border-radius: 6px;
}
.progress .progress-bar{
    width: 0%;
    opacity: 0;
    height: 10px;
    background-color: #E93656;
    position: relative;
    transition: all 2s;
    border-radius: 6px;
}

.progress-bar span{
   position: absolute;
   bottom: -5px;
   font-size: 20px;
   line-height: 96px;
   
   
}

.percentage{
    color: red;  
    left: 60px;
}

.long{
    left: 130px;
}




/* contacts section */
.contacts{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1900px;
    justify-content: center;
    width: 100%;
    height: 210px;
    background-color: #131A36;
    margin-top: 100px;
    margin-bottom: 200px;
   
}

.phone_number img{
    width: 70px;
    border-radius: 80px;
    padding: 20px;
    border: 2px dashed #FFFFFF;
}

.phone_number img:hover{
    background-color: #E93656;
    border: none;
    transition: all .5s;
}



.my_contacts{
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    margin-left: 30px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.42px;
    margin-right: 40px;
}

.title-num{
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.75px;
    margin-bottom: 10px;
}
/* services section */

.services_container{
    max-width:1200px ;
    width: 100%;
    background-color: white;
    margin: 20px auto;
    padding: 0 15px;
}

.row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 10px;
}
.service{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2px 10px;
    border-radius: 5px;
    cursor: pointer;
    background: transparent;
    background-color: #FAFAFA;
    width: 270px;
    height: 340px;
    

}

.service img{
    width: 70px;
    margin-bottom: 20px;
}
.service h3{
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.44px;
    font-family: 'Roboto Mono';
}
.overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    opacity: 0;
    color: #FFFFFF;
    transform: rotatey( 180deg );
}

.overlay h4{
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.44px;
    margin-bottom: 30px;
    font-family: 'Roboto Mono';
}
.addserv{
    display: none;
}
.overlay p{
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.42px;
}

.service:hover{
    background-color: #15263E;
    transition: all 1s;
    cursor: pointer;
    transform: rotatey( 180deg );
}

.service:hover .overlay{
    opacity: 1;
    transition: all .5s;
}

.service:hover img{
    opacity: 0;
    transition: all .5s;
}

.service:hover h3{
    opacity: 0;
    transition: all .5s;
}
/* recontadions */
.recomendations-cont{
    background-image: url("../images/countdown-bg.png");
    background-color: #222222;
    background-repeat: no-repeat;
    margin-top: 160px;
    margin-bottom: 180px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 200px;
    width: 100%;
    height: 500px;
}
.recomendations-cont p{
    color: #FFFFFF;
    margin-right: 60px;
    width: 400px;
    text-align: right;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.45px;
    

}
.recomendations-cont h3{
    font-size: 24px;
    line-height: 80px;
    letter-spacing: 0.84px;
    color: #FFFFFF;

}

.about-person{
    display: flex;
    flex-direction: column;

}
.about-person h6 {
    font-size: 13px;
    line-height: 80px;
    letter-spacing: 0.52px;
    margin-bottom: -40px;
    color: #E93656;

}


.quote{
    width: 30px;
    background-color: #DDDDDD;
    border-radius: 90px;
    padding: 2px;
}

.person-logo{
    width: 130px;
    height: 130px;
    object-fit: contain;
    margin-right: 60px;
    padding: 15px;
    border-radius: 90px;
    border: 3px dashed #FFFFFF ;
}
.person-logo:hover{
    border: 6px dashed blueviolet;
    transition: all .5s;
}

.rectangle{
    display: flex;
    flex-direction: column;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 3px white solid;
    margin-bottom: 20px;
    margin-left: 20px;
    cursor: pointer;
}
.rectangle:hover{
    border: 3px rgb(221, 84, 169) solid;
}
.about-recomendatins{
    display: flex;
    flex-direction: row;
}
.about-recomendatins{
    display: none;
    opacity: 0;
    transition: opacity 0.5s; 
}
.about-recomendatins.active{
    display: flex;
    visibility: visible;
    opacity: 1;

}
.rectangle:hover {
    border: 3px #E93656 solid;
    transition: all .5s;
}

.rectangle.active{
    border: 3px #E93656 solid;
}

.about-recomendatins.animating {
    display: block;
    visibility: hidden;
    opacity: 0;
}

/* lastest project */
.aside-box{
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 420px;
    background-color: #15263E;
    margin-right: 30px;
}


a{
    text-decoration: none;
}


.project-title{
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
    text-align: left;
    margin-top: 15px;
    margin-left: 40px;
    cursor: pointer;
    font-family: 'Poppins';
}
.project-title:hover{
    color: #f3768d;
    transition: all .5s;
}

.project-title.active{
    color: #E93656;
}
.latest-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 180px;
}
.latest-projects h2{
    font-size: 70px;
    line-height: 36px;
    color: #2E2E2E;
    margin-bottom: 90px;
    font-family: 'Poppins';

}

.projects-box{
    display: flex;
    flex-direction: column;
}

.projects-box img{
    width: 300px;
    height: 350px;
    object-fit: cover;
    margin-right: 5px;
}

.main-projects{
    display: flex;
    flex-direction: row;
}

.projects-three{
    display: flex;
    flex-direction: row;
}

.image{
    position: relative;
    opacity: 1;
}

.pic-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.pic-overlay > *{
    transform: translateY(20px);
    transition: transform 0.25s;
}
.pic-overlay:hover{
    opacity: 1;
}

.pic-overlay:hover > *{
    transform: translateY(0);

}

.pic-overlay img{
    width: 50px;
    height: 50px;
    object-fit: contain;
    border: 2px #E93656 solid;
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 16px;
}

.pic-overlay h5{
    font-size: 11px;
    line-height: 44px;
    letter-spacing: 0.33px;
    color: #DDDDDD;
    margin-bottom: 5px;
    

}
.pic-overlay h3{
    font-size: 23px;
    line-height: 44px;
    color: #FFFFFF;
    

}

.pink-title{
    display: flex;
    flex-direction: column;
  
}
.pink-line{
    width: 200px;
    height: 2px;
    background-color: #E93656;
    border-radius: 40px;
    margin-left: 40px;
    opacity: 0;
}

.pink-line.active{
    opacity: 1;
    transition: all .5s;
}

.pink-title:hover .pink-line{
    opacity: 1;
    transition: all .5s;
    transform: translateX(20px);
}

/* articles */
.articles{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.articles-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articles-title span{
    font-size: 13px;
    line-height: 36px;
    color: #2ED279;
    margin-bottom: 5px;
    

}
.articles-title h3{
    font-size: 70px;
    line-height: 36px;
    color: #2E2E2E;
    margin-bottom: 70px;
    font-family: 'Roboto Mono';
    

}

.one-block{
    display: flex;
    flex-direction: row;
}

.second-block{
    display: flex;
    flex-direction: row-reverse;
}

.description-box{
    width:745px;
    height: 490px;
    background-color: #ffffff;
}

.second-article{
    width:670px;
}
.middle-blue-box{
    width: 120px;
    height: 490px;
    background-color: #15263E;
}

.article-image{
    width: 840px;
    height: 490px;
    background-image: url('../images/img1.jpg');
    object-fit: cover;
}

.second-article-image{
    width: 875px;
    background-image: url('../images/img1.jpg');
}
.third-article-image{
    background-image: url('../images/img1.jpg');
}

.rotated-text{
    transform: rotate(-90deg);
    transform-origin: 176px 139px;
    display: block;
    width: 160px;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0.44px;
    color: #E93656;
}

.article-content{
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
    background-color: #FAFAFA;
    width: 80%;
    margin-left: 20%;
    height: 490px;
}

.article-content-second{
    margin-left: 0;
}

.pyramid-icon{
    width: 70px;
    background-color: #fff;
    padding: 20px;
    border-radius: 50px;
    margin-bottom: 30px;
}

.cloud-icon{
    width: 70px;
    padding: 20px;
    border-radius: 50px;
    margin-bottom: 30px;
    background-color: #E93656;
}

.bulb-icon{
    transform: rotate(180deg);
    width: 70px;
    padding: 20px;
    border-radius: 50px;
    margin-bottom: 30px;
    background-color: #ffffff;
}

.article-content span{
   font-size: 14px;
   line-height: 16.8px;
   letter-spacing: 1.12px;
   color: #888888;
   margin-bottom: 10px;
   font-family: 'Joan';
   
}
.article-content h3{
    font-size: 40px;
    line-height: 44px;
    color: #161616;
    font-family: 'Joan';
    margin-bottom: 25px;
    
}
.article-content p{
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.48px;
    color: #494949;
    font-family: 'Roboto Mono';
    
}
/* rosa team sections */
.rosa-section{
   
    margin-top: 20px;
    margin-bottom: 180px;
    display: flex;
    justify-content: center;
    
}
.roca-cont {
    margin-top: 150px;
}
.rosa-content{
    margin: 40px;
    width: 110px;
    height: 110px;
   

}


.rosa-content{
    position: relative;
}
.about-company{
    position: absolute;
    top: 0;
    left: -35px;
    width: 160%;
    height: 150%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 3px #E93656 solid;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.25s;
}
.about-company > *{
    transform: translateY(20px);
    transition: transform 0.25s;
}

.about-company:hover{
    opacity: 1;
    cursor: pointer;
}

.about-company:hover > *{
    transform: translateX(0);

}
.about-company p{
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.39px;
    color: #626262;
    margin-bottom: 10px;
    
}
.about-company h3{
    font-size: 16px;
    line-height: 28px;
    color: #161616;
    letter-spacing: 0.32px;
    margin-bottom: 10px;
    
}
/* contact */
.contant-section{
    width: 100%;
    height: 660px;
    background-image: url('../images/Layer 5.png');
    background-color: #000000;
    
}
.form-section{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.column-row{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-title{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-title h2{
    font-size: 45px;
    line-height: 54px;
    letter-spacing: 1.35px;
    color: #FFFFFF;
    margin-bottom: 12px;
    font-family: 'Roboto Mono';

}

.form-title span{
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 0.51px;
    color: #EEEEEE;
    margin-bottom: 46px;
    font-family: 'Roboto Mono';

}

.name-form{
    width: 290px;
    height: 50px;
    border: none;
    outline: none;
}
input{
    font-size: 10px;
    line-height: 52px;
    color: #515151;
    padding-left: 30px;
}

.three-form{
    display: flex;
    flex-direction: row;
}

.three-form div{
    margin-right: 10px;
    margin-bottom: 10px;
}
textarea{
    width: 900px;
    height: 110px;
    padding: 30px;
    outline: none;
}

#send-btn{
    border: 2px solid #E93656;
    background-color: rgb(254, 235, 238);
    color: #E93656;
    font-size: 12px;
    line-height: 50px;
    letter-spacing: 0.96px;
    padding: 0 40px;
    margin-top: 30px;
}

#send-btn:hover{
    background-color: #E93656;
    color: white;
    transition: all .5s;
    cursor: pointer;
} 
/* footer */
.footer-content{
    width: 100%;
    height: 490px;
    background-color: #282828;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-content{
    
    background-color:#282828 ;
}
.title-cont{
    display: flex;
    flex-direction: row;
    margin-top: 110px;

}
.title-cont h2{
    font-size: 55px;
    line-height: 76px;
    letter-spacing: 1.66px;
    color: #FFFFFF;
    margin-bottom: 23px;
    font-family: 'Poppins';

}
.title-cont span{
    font-size: 55px;
    line-height: 76px;
    color: #d83838;
}
.footer-content p{
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0.09px;
    color: #A5A5A5;
    padding: 0 300px;
    text-align: center;
    margin-bottom: 60px;
    font-family: 'Roboto Mono';
    
}

.footer-section-second{
    width: 100%;
    height: 82px;
    background-color: #171717;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    line-height: 24px;
    color: #A0A8B7;
    
}
.footer-socials img{
    width: 30px;
    height: 30px;
    object-fit: contain;


}

.white-span{
    color: #FFFFFF;
    font-family: 'Roboto Mono';
}